@import "./color_schemes/light";

$btblue-000: #2DE1FC;
$btblue-100: #cbf5fb;
$btgreen-000: #B0Db43;
$btgreen-100: #e0eec6;
$btorange-000: #FFA62B;
$btorange-100: #fdf9f3;
$btgray-000: #384D48;
$btgray-100: #b6b8b7;
$btgray-200: #1c2825;

$link-color: $btblue-000;
$btn-primary-color: $btgreen-000;
$sidebar-color: $btgray-000;
$nav-child-link-color: $btgreen-000;
$code-background-color: $btblue-100;

.site-header{
    border-bottom: 1px solid #2DE1FC !important;
}

.site-title{
    color: #fdf9f3 !important;
}

.site-title:hover {
    background-image: none !important;
  }

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #2f433e 0%, rgb(47, 67, 62) 80%, rgba(235, 237, 245, 0) 100%) !important;
}

.nav-list-expander:hover{
    background-image: linear-gradient(-90deg, #2f433e 0%, rgb(47, 67, 62) 80%, rgba(235, 237, 245, 0) 100%) !important;
}

.node rect, .node circle, .node ellipse, .node polygon, .node path {
    fill: #e0eec6 !important;
    stroke: #B0Db43 !important;
}

.edgeLabel {
    background-color: #e0eec6 !important;
}

.divider {
    stroke: #B0Db43 !important;
    stroke: 1;
}

.statediagram-cluster rect {
    fill: #fdf9f3 !important;
    stroke: #FFA62B !important;
}

.statediagram-cluster rect.outer {
    color: #fdf9f3 !important;
    fill:#FFA62B !important;
    stroke: #FFA62B !important;
}

.merOpNode > rect {
    fill: #cbf5fb !important;
    stroke: #2DE1FC !important;
}

p.warning, blockquote.warning {
    background: rgba(255, 166, 43, 0.2) !important;
    border-left: 4px solid #FFA62B !important;
}

p.warning::before, blockquote.warning::before {
    color: #FFA62B !important;
}

p.warning a,  p.warning a:hover, p.warning a:active{
    color: #FFA62B !important;
    text-decoration-color:#FFA62B !important;
}

